<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Dashboard</title>
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../diseno/inicio_usuario.css">
    <!-- CUSTOM JS -->
    <script src="../diseno/menu_principal_usuario.js" defer></script>
</head>

<body>
    <div class="carousel-container">
        <div class="carousel">
            <div class="carousel-slide" style="background-image: url('../diseno/carousel/sample_08c61a402ddf600f162bfbfceaba483a.jpg');"></div>
            <div class="carousel-slide" style="background-image: url('../diseno/carousel/Rectangle\ 2.png');"></div>
            <div class="carousel-slide" style="background-image: url('../diseno/carousel/Rectangle\ 2.png');"></div>
        </div>
    </div>

    <div class="menu-dashboard closed">
        <!-- TOP MENU -->
        <div class="top-menu">
            <div class="logo">
                <img src="../diseno/imagenLogo/logo.png" alt="Logo">
                <span>Refugio Animal</span>
            </div>
            <div class="toggle">
                <i class='bx bx-menu'></i>
            </div>
        </div>
        <!-- INPUT SEARCH -->
        <div class="input-search">
            <i class='bx bx-search'></i>
            <input type="text" class="input" placeholder="Buscar">
        </div>
        <!-- MENU -->
        <div class="menu">
            <div class="enlace">
                <i class="bx bx-grid-alt"></i>
                <span>Dashboard</span>
            </div>

            <div class="enlace">
                <a href="/reportes" style="color: inherit; text-decoration: none;">
                    <i class='bx bxs-report'></i>
                    <span>Llenar reporte</span>
                </a>

            </div>

            <div class="enlace">
                <a href="/registrar_adopcion" style="color: inherit; text-decoration: none;">
                    <i class='bx bxs-home' style='color:#ffffff'></i>
                    <span>Realizar adopción</span>
                </a>
            </div>

            <div class="enlace">
                <a href="/registrar_vacuna" style="color: inherit; text-decoration: none;   ">
                    <i class='bx bxs-capsule' style='color:#ffffff'></i>
                    <span>Realizar vacunación</span>

                </a>
            </div>

            <div class="enlace">
                <a href="/registrar_castracion" style="color: inherit; text-decoration: none;">
                    <i class='bx bxs-donate-blood' style='color:#ffffff'></i>
                    <span>Realizar castración</span>

                </a>

            </div>


            <div class="enlace">
                <a href="/mis_reportes_usuario" style="color: inherit; text-decoration: none;">
                    <i class='bx bxs-report' style='color:#ffffff'></i>
                    <span>Ver mis reportes</span>

                </a>

            </div>

            <div class="enlace">
                <a href="/logout" style="color: inherit; text-decoration: none;">
                    <i class='bx bx-log-out' style='color:#ffffff'></i>
                    <span>Cerrar sesión</span>
                </a>

            </div>

            <div class="enlace">
                <i class="bx bx-cog"></i>
                <span>Configuración</span>
            </div>
        </div>
    </div>
    <script>
        const menuToggle = document.querySelector('.toggle');
        const menuDashboard = document.querySelector('.menu-dashboard');

        menuToggle.addEventListener('click', () => {
            menuDashboard.classList.toggle('closed'); // Cambia la clase para mostrar/ocultar el menú
        });
    </script>

</body>

</html>