<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Dashboard</title>
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../diseno/css/inicio_usuario.css">
    <!-- CUSTOM JS -->
    <script src="../diseno/menu_principal_usuario.js" defer></script>

    <style>
        font-face {
            font-family: 'Montserrat';
            src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        }

       
    </style>

</head>

<body>

    <div class="adoption-background"></div>
    <div class="realizar-adopcion-background"></div>
    <div class="imagen-adopcion">
        <img src="../diseno/imagenInicio/free-photo-of-cat-eating-kibble-on-cobblestone-walkway.jpeg" alt="">
    </div>
 


    <div class="wrapper">
        <div class="menu-dashboard closed">
            <!-- TOP MENU -->
            <div class="top-menu">
                <div class="logo">
                    <img src="../diseno/imagenLogo/logo.png" alt="Logo">
                    <span>Refugio Animal</span>
                </div>
                <div class="toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </div>
            
            <!-- MENU -->
         
            <div class="menu">
                <div class="enlace">

                    <i class="bx bx-grid-alt"></i>
                    <span>Dashboard</span>
                </div>

                <div class="enlace">
                    <a href="/reportes" style="color: inherit; text-decoration: none;">
                        <i class='bx bxs-report'></i>
                        <span>Llenar reporte</span>
                    </a>

                </div>

                <div class="enlace">
                    <a href="/registrar_adopcion" style="color: inherit; text-decoration: none;">
                        <i class='bx bxs-home' style='color:#ffffff'></i>
                        <span>Realizar adopción</span>
                    </a>
                </div>

                <div class="enlace">
                    <a href="/registrar_vacuna" style="color: inherit; text-decoration: none;   ">
                        <i class='bx bxs-capsule' style='color:#ffffff'></i>
                        <span>Realizar vacunación</span>

                    </a>
                </div>

                <div class="enlace">
                    <a href="/registrar_castracion" style="color: inherit; text-decoration: none;">
                        <i class='bx bxs-donate-blood' style='color:#ffffff'></i>
                        <span>Realizar castración</span>

                    </a>

                </div>


                <div class="enlace">
                    <a href="/mis_reportes_usuario" style="color: inherit; text-decoration: none;">
                        <i class='bx bxs-report' style='color:#ffffff'></i>
                        <span>Ver mis reportes</span>

                    </a>

                </div>

                <div class="enlace">
                    <a href="/logout" style="color: inherit; text-decoration: none;">
                        <i class='bx bx-log-out' style='color:#ffffff'></i>
                        <span>Cerrar sesión</span>
                    </a>

                </div>

                
            </div>
        </div>

        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-slide"
                    style="background-image: url('../diseno/carousel/sample_08c61a402ddf600f162bfbfceaba483a.jpg');">
                </div>
                <div class="carousel-slide" style="background-image: url('../diseno/carousel/Rectangle\ 2.png');"></div>
                <div class="carousel-slide" style="background-image: url('../diseno/carousel/Rectangle\ 2.png');"></div>
            </div>
        </div>

        <div class="content">
            <div class="container">
                <div class="adoption-container">
                 
                    <div class="adoption-section">
                        <h1 style="color: black; font-size: 42px; font-family: 'Montserrat', Arial, sans-serif;">Mira nuestro servicio de adopción</h1>
                        <p style="font-size: 32px;">Wondering how (and why) you should adopt?</p>
                    </div>
                    <div class="adoption-columns">
                        <div class="adoption-column">
                            <div class="adoption-section">
                                <h2>Porqué recomendamos adoptar</h2>
                                <p>Adoptar una mascota es una decisión que trae múltiples beneficios tanto para los
                                    animales como para las personas.
                                    Al adoptar una mascota de un refugio, estás salvando a un animal de ser sacrificado
                                    y abriendo espacio para que
                                    otros animales necesiten ayuda. La adopción ayuda a combatir la sobrepoblación de
                                    animales, ya que muchos refugios
                                    promueven la esterilización de las mascotas, lo que previene el nacimiento de más
                                    animales sin hogar. Tener una
                                    mascota puede reducir el estrés, la ansiedad y la depresión. Las mascotas ofrecen
                                    compañía, amor incondicional y
                                    pueden mejorar el bienestar emocional y mental de sus dueños. Al adoptar, apoyas a
                                    los refugios y a las
                                    organizaciones de rescate de animales, ayudando a mantener sus operaciones y su
                                    misión de salvar más animales.
                                </p>
                            </div>

                            <div class="adoption-section">
                                <h2>Como encontrar a tu mascota ideal</h2>
                                <p>Encontrar a tu mascota ideal en un servicio de adopción requiere un enfoque
                                    considerado y meticuloso. Evalúa tu estilo
                                    de vida y necesidades antes de empezar, considerando el espacio disponible en tu
                                    hogar, tu nivel de actividad y tu
                                    capacidad para atender a una mascota. Decide si prefieres un perro o un gato, una
                                    mascota joven o adulta, y qué
                                    características son más importantes para ti. Investiga refugios y organizaciones de
                                    rescate en tu área, visitando
                                    sus sitios web para ver las mascotas disponibles y leer sus perfiles. Si es posible,
                                    visita los refugios en persona
                                    para conocer a las mascotas, observar su comportamiento y ver cómo interactúan
                                    contigo. Habla con el personal del
                                    refugio, ya que ellos conocen bien a los animales y pueden recomendarte una mascota
                                    que se adapte a tus necesidades.</p>
                            </div>

                        </div>

                        <div class="adoption-column">
                            <div class="adoption-section">
                                <h2>'¿Cómo funciona nuestro servicio?'</h2>
                                <p style="font-size: 22px;">
                                    Nuestro servicio de adopción de mascotas en línea ofrece una plataforma intuitiva y
                                    compasiva para conectar a aquellos
                                    que desean dar un hogar amoroso con mascotas necesitadas. Además, proporcionamos una
                                    función integral de reporte para
                                    mascotas perdidas o maltratadas, permitiendo a los usuarios informar de manera
                                    rápida y efectiva cualquier situación preocupante.
                                    Nos comprometemos a facilitar un espacio seguro y solidario para la comunidad de
                                    amantes de los animales, donde cada mascota reciba
                                    el cuidado y el afecto que merece.
                                </p>
                            </div>

                     
                        </div>
                    </div>

                </div>
            </div>

            <div class="realizar-adopcion-container">
                <div class="adoption-section">
                    <h1 style="color: black; font-size: 42px; font-family: 'Montserrat', Arial, sans-serif;">Mira nuestro servicio de adopción</h1>
                    
                    <p>
                        En nuestra plataforma de adopción, encontrarás una amplia variedad de mascotas 
                        que están buscando un 
                        hogar amoroso. Desde perros y gatos hasta conejos y pájaros, tenemos una diversidad de animales esperando 
                        ser adoptados. Cada uno de ellos tiene su propia historia y personalidad única, y estamos seguros de que hay 
                        uno perfecto para ti.
                        Dirígete hacia nuestro botón de "Realizar Adopción" para comenzar tu viaje hacia la adopción de tu 
                        nueva mascota.No hay nada más gratificante que brindarle a un animal necesitado un hogar lleno de amor y cuidado.
                        ¡Haz clic en el botón y descubre cómo puedes hacer la diferencia en la vida de un amigo peludo!
                    </p>
                    <div class="button-container">
                        <button id="adoptButton">Adopta a tu mascota!</button>
                    </div>
            
                </div>

                
               
            </div>

        </div>

    </div>







    <script>
        const menuToggle = document.querySelector('.toggle');
        const menuDashboard = document.querySelector('.menu-dashboard');

        menuToggle.addEventListener('click', () => {
            menuDashboard.classList.toggle('closed'); // Cambia la clase para mostrar/ocultar el menú
        });
    </script>

    <script>
        document.getElementById("adoptButton").addEventListener("click", function() {
            window.location.href = "/registrar_adopcion";
        });
    </script>

</body>

</html>