<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/public/css/estilo.css">
</head>
<body>
    <div class="contenedor">
        <div class="formulario">
            <form method="post" action="/login">
                <h4>Correo electrónico</h4>
                <input type="email" name="email" required>
                
                <h4>Contraseña</h4>
                <input type="password" name="password" required>

                <div class="col-md-12 text-center">
                    <div class="mb-3">
                        <button type="submit">Iniciar Sesión</button>
                    </div>
                </div>
            </form>
        </div>
        <h5>¿No tienes una cuenta? <a href="/registro">Regístrate</a></h5>
    </div>
</body>
</html>
