<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de empleado</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/estilo.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <style>
        .boton{
            position: absolute;
            left: 400px;
        }
    </style>
    
</head>
<body>

    <div class="boton">
        <a href="/inicio_empleado" class="btn btn-secondary mb-3">Volver</a>

    </div>
    
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Registro</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/registro_empleado" id="registroForm">
                            <div class="form-group">
                                <label for="nombre">Nombre(s)</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="telefono">Teléfono</label>
                                <input type="number" class="form-control" id="telefono" name="telefono" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Correo electrónico</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="colonia">Colonia</label>
                                <input type="text" class="form-control" id="colonia" name="colonia" required>
                            </div>
                            <div class="form-group">
                                <label for="ciudad">Ciudad</label>
                                <input type="text" class="form-control" id="ciudad" name="ciudad" required>
                            </div>
                            <div class="form-group">
                                <label for="cp">Código postal</label>
                                <input type="number" class="form-control" id="cp" name="cp" required>
                            </div>
                            <div class="form-group">
                                <label for="fecha_nacimiento">Fecha de nacimiento</label>
                                <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" required>
                            </div>
                            <div class="form-group">
                                <label for="sueldo">Sueldo</label>
                                <input type="number" class="form-control" id="sueldo" name="sueldo" required>
                            </div>
                            <div class="text-center">
                                <button type="button" onclick="submitForm()" class="btn btn-primary" id="btnRegistrar">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Esperar a que el documento esté listo
        $(document).ready(function(){
            // Capturar el evento de envío del formulario
            $('#registroForm').submit(function(event) {
                // Prevenir el envío del formulario
                event.preventDefault();

                // Aquí podrías realizar cualquier validación adicional antes de enviar el formulario

                // Enviar el formulario
                $.ajax({
                    type: 'POST',
                    url: '/registro_empleado', // La URL a la que se enviará el formulario
                    data: $(this).serialize(), // Serializar los datos del formulario
                    success: function(response) {
                        // Mostrar el Sweet Alert de confirmación
                        Swal.fire({
                            icon: 'success',
                            title: '¡Registro exitoso!',
                            showConfirmButton: false,
                            timer: 3000, // 3 segundos
                            timerProgressBar: true
                        }).then((result) => {
                            // Redireccionar a la página de inicio del empleado
                            window.location.href = '/inicio_empleado';
                        });
                    }
                });
            });
        });
    </script>

<script>
    // Función para enviar el formulario
    function submitForm() {
        // Obtener el formulario por su ID
        var form = document.getElementById('registroForm');

        // Validar que todos los campos estén llenos
        var isValid = true;
        form.querySelectorAll('input').forEach(function(input) {
            if (!input.value.trim()) {
                isValid = false;
                return;
            }
        });

        // Validar la estructura del correo electrónico
        var email = document.getElementById('email').value;
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailRegex.test(email)) {
            Swal.fire({
                icon: 'error',
                title: 'Error en el correo electrónico',
                text: 'Por favor, ingrese un correo electrónico válido.',
            });
            return;
        }

        // Validar la longitud de la contraseña solo si el campo no está vacío
        var password = document.getElementById('password').value;
        if (password && password.length < 8) {
            Swal.fire({
                icon: 'error',
                title: 'Error en la contraseña',
                text: 'La contraseña debe tener al menos 8 caracteres.',
            });
            return;
        }

        // Validar la longitud del número de teléfono
        var telefono = document.getElementById('telefono').value;
        if (telefono.length !== 10) {
            Swal.fire({
                icon: 'error',
                title: 'Error en el teléfono',
                text: 'El número de teléfono debe tener exactamente 10 dígitos.',
            });
            return;
        }

        if (!isValid) {
            // Mostrar un mensaje de error o Sweet Alert indicando que todos los campos son obligatorios
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Por favor, complete todos los campos.',
            });
            return;
        }

        // Si todos los campos están llenos y las validaciones son correctas, enviar el formulario
        $.ajax({
            type: 'POST',
            url: form.action,
            data: $(form).serialize(),
            success: function(response) {
                // Mostrar el Sweet Alert de confirmación
                Swal.fire({
                    icon: 'success',
                    title: '¡Registro exitoso!',
                    showConfirmButton: false,
                    timer: 3000, // 3 segundos
                    timerProgressBar: true
                }).then((result) => {
                    // Redireccionar a la página de inicio del empleado
                    window.location.href = '/inicio_empleado';
                });
            },
            error: function(xhr) {
                // Manejar errores de respuesta del servidor
                if (xhr.status === 409) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error de registro',
                        text: 'Ya existe un usuario registrado con ese correo electrónico.'
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error de registro',
                        text: 'Ha ocurrido un error al procesar su solicitud.'
                    });
                }
            }
        });
    }

    // Esperar a que el documento esté listo
    $(document).ready(function(){
        // Capturar el evento de envío del formulario
        $('#registroForm').submit(function(event) {
            // Prevenir el envío del formulario
            event.preventDefault();
            submitForm(); // Llamar a la función que maneja el envío
        });
    });
</script>

    

    
</body>
</html>
